<% @songs.each do |s| %>
  <label>Name</label> <br>
  <p><%= s.name %></p> <br>

  <label>Artist ID</label> <br>
  <h1><%= s.artist_id %></h1> <br>

  <label>Genre ID</label> <br>
  <h1><%= s.genre_id %></h1>
<% end %>